{% extends 'my_auth/auth_base.html' %}
{% load bootstrap3 %}

{% block title %}
    Login
{% endblock %}

{% block heading %}
    Bookstore Management- Login page!
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success pull-right">ok</button>
        <a href="{% url 'home' %}" class="btn btn-danger right">Back</a>
        <a href="{% url 'registration' %}" class="btn btn-info right">Registration</a>
    </form>
{% endblock %}
