{% extends 'main_base.html' %}
{% load admin_urls %}
{% block active_bookstore %}active{% endblock %}
{% block page %}
    <div class="container-fluid go-bottom">
        <div class="row">
        {% for book in books %}
            <div class="col-lg-2 col-md-1 col-sm-2 custom-card">
            {% if user.is_superuser%}
                <a class="btn btn-default" href="{% url 'admin:bookstore_management_book_change' book.id %}">Edit</a>
            {% endif %}
            <img class="card-img-top img-custom list-group-item " src="
                                        {% if book.image %}
                                        /media/{{ book.image }}
                                        {% else %}
                                        http://yellowlemon.net/files/graphics/2013/08/klipart-knigi-v-vektore.jpg
                                        {% endif %}
                                        " alt="image">
            <p class="list-group-item height-info">
                <strong class="title">{{ book.book_title.upper }}</strong><br>
                <strong>Authors: </strong>{{ book.authors_info }}<br>
                <strong>ISBN: </strong>{{ book.ISBN }}<br>
                <strong>Price: </strong>{{ book.price }}<br>
            </p>
            <small class="list-group-item height-publish text-muted">Published: {{ book.publish_date.isoformat }}</small>
            <a href="#" class="btn btn-primary list-group-item custom-btn">Buy</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}